html,body{
    margin: 0;
    padding: 0;
    border: 0;
}

line{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

dance{
    display: block;
    text-align:center;
    float:left;
    overflow: hidden;
}