html,body{
    margin: 0;
    padding: 0;
    border: 0;
}

line{
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

dance{
    display: block;
    text-align:center;
    float:left;
    overflow: hidden;
    background:linear-gradient(160deg, rgb(0,144,255), rgb(0,255,213));
}